{% extends '::base.html.twig' %}

{% block body %}    

    {% block navbar %}
        {% include 'FrontendBundle::_navbar.html.twig' %}        
    {% endblock navbar %}                
        {% block container %}    
                     
        {% endblock %} 
        <footer>            
        {% block footer %}APR - Agencia Platense de Recaudación{% endblock footer %}
        </footer>
    </div>    

{% endblock %} 


            


   