{% extends '::base.html.twig' %}

{% block body %}    

    {% block navbar %}
        {% include 'FrontendBundle::_navbar.html.twig' %}        
    {% endblock navbar %}        
            
    {% block container %}                  
    {% endblock %} 

    <footer>            
        {% block footer %}
            <hr>    
            <p style="text-align: center;">&copy; Proyecto Base - Versión 1.0</p>
        {% endblock footer %}
    </footer>
    </div>    

{% endblock %} {# endblock body #}


            


   