<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Proyecto Base{% endblock %}</title>
        {% block stylesheets %}
            {% include '::_stylesheets.html.twig' %}
        {% endblock %}  
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
          {% block javascripts %}
            {% include '::_javascripts.html.twig' %}                      
          {% endblock %}
    </body>
</html>
