<div class="hero-unit">
  <h2>Yeah!!</h2>
  <p>Este contenido fue "cargado" vía <strong>AJAX</strong> por medio de <strong>jQuery.load.</strong> Además utilizamos <strong>FOSJsRoutingBundle</strong> para "rutear" la url desde Js.</p>              
</div>